.user-actions-follow-button {
  width: 142px;
  transition: all 0.3s;
}
.follow-text:not(.Icon),
.following-text:not(.Icon),
.unfollow-text:not(.Icon) {
  font-size: 0px;
}
.follow-text::after,
.following-text::after,
.unfollow-text::after {
  font-size: 14px;
}
.small .follow-text::after,
.small .following-text::after,
.small .unfollow-text::after {
  font-size: 13px;
}
.follow-text::after {
  content: "フレンズになる";
}
.following-text::after {
  content: "フレンズ";
}
.unfollow-text::after {
  content: "フレンズをやめる";
}
/* プロフィール画像をホバーしたときのスタイルを調整 */
#profile-hover-container {
  width: auto;
}
#profile-hover-container>.profile-card.ProfileCard {
  width: 400px;
}
#profile-hover-container>.profile-card.ProfileCard.with-banner .ProfileCard-bg {
  background-size: cover;
}
#profile-hover-container .ProfileCard-content {
  width: 100%;
  font-size: 12px;
}
#profile-hover-container .ProfileCardStats-statLink {
  text-align: center;
}
