.follow-text:not(.Icon),
.following-text:not(.Icon),
.unfollow-text:not(.Icon) {
  font-size: 0px;
}
.follow-text::after,
.following-text::after,
.unfollow-text::after {
  font-size: 14px;
}
.small.follow-text::after,
.small.following-text::after,
.small.unfollow-text::after {
  font-size: 13px;
}
.follow-text::after {
  content: "フレンズになる";
}
.following-text::after {
  content: "フレンズ";
}
.unfollow-text::after {
  content: "フレンズをやめる";
}
